.Card{
    margin: 10px;
    .flexer{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        button{
            width: 33px;
            height: 33px;
            border: none;
            border: 2px solid black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right:30px;

            .icons{
                font-size: 25px;
                background-color: transparent;
            }
        }
    }
    .left{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .user{
        display: flex;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        margin-right: -10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
#bot{
    margin-left: 60px;
}



    .query{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name{
            margin-bottom: 2px;
            font-size: 15px;
            color: black;
            font-weight: bold;

        }
        .text{
            font-size: 14px;
            width: 760px;
            text-align: justify;
        }
    }
}